




<form asp-action="HiddenForm" method="post">
    <label>Name:</label>
    <input type="text" name="name" /><br />
    <input type="hidden" name="age" value="22" />
    <button type="submit">Submit</button>
</form>
