<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Manager</th>
           
        </tr>
    </thead>
    <tbody>
        
            
            @foreach(var d in Model)
            {
            <tr>
                <td>@d.ID</td>
                <td>@d.Name</td>
                <td>@d.Manager</td>
            </tr>
            }
           
            
        
    </tbody>
</table>