@model Course


<div class="mb-3">
    <label asp-for="Name" class="form-label">Course Name</label>
    <input type="text" class="form-control" asp-for="Name">
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Topic" class="form-label">Course Topic</label>
    <input type="text" class="form-control" asp-for="Topic">
</div>

<div class="mb-3">
    <label asp-for="Degree" class="form-label">Course Degree</label>
    <input class="form-control" asp-for="Degree">
    <span asp-validation-for="Degree" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="MinDegree" class="form-label">Course Min Degree</label>
    <input class="form-control" asp-for="MinDegree">
    <span asp-validation-for="MinDegree" class="text-danger"></span>
</div>


