
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@model Course

<div class="card w-75 mb-3">
    <div class="card-body">
        <h5 class="card-title text-danger">Course Name</h5>
        <p class="card-text"> @Model.Name </p>
       
        <h5 class="card-title text-danger">Course Topic</h5>
        <p class="card-text">@Model.Topic</p>
    </div>
</div>